kestra/security_pipeline_main_prod.yml
id: security_pipeline_main_prod
namespace: dev_security

inputs:
  - id: site_url
    type: STRING
    required: false
  - id: github_repo
    type: STRING
    required: false
  - id: github_branch
    type: STRING
    defaults: "main"
  - id: vercel_project_id
    type: STRING
    required: true
  - id: vercel_team_id
    type: STRING
    required: false
  - id: production_alias
    type: STRING
    required: true

triggers:
  - id: scheduled_security_check
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 */6 * * *"

  - id: pipeline_webhook
    type: io.kestra.plugin.core.trigger.Webhook
    key: "{{ secret('PROD_PIPELINE_WEBHOOK_KEY') }}"

tasks:
  - id: get_saved_site_url
    type: io.kestra.plugin.core.kv.Get
    key: security/site_url

  - id: get_saved_repo
    type: io.kestra.plugin.core.kv.Get
    key: security/github_repo

  - id: resolve_runtime_config
    type: io.kestra.plugin.core.output.OutputValues
    values:
      resolved_site_url: "{{ inputs.site_url ? inputs.site_url : outputs.get_saved_site_url.value }}"
      resolved_github_repo: "{{ inputs.github_repo ? inputs.github_repo : outputs.get_saved_repo.value }}"
      resolved_branch: "{{ inputs.github_branch }}"

  - id: refresh_source_files
    type: io.kestra.plugin.core.flow.Subflow
    namespace: dev_security
    flowId: upload_lockfile_prod
    wait: true
    transmitFailed: false
    inputs:
      github_repo: "{{ outputs.resolve_runtime_config.values.resolved_github_repo }}"
      github_branch: "{{ outputs.resolve_runtime_config.values.resolved_branch }}"
      site_url: "{{ outputs.resolve_runtime_config.values.resolved_site_url }}"

  - id: run_layer1
    type: io.kestra.plugin.core.flow.Subflow
    namespace: dev_security
    flowId: security_scan_layer1_prod
    wait: true
    transmitFailed: false

  - id: run_layer2
    type: io.kestra.plugin.core.flow.Subflow
    namespace: dev_security
    flowId: security_scan_layer2_prod
    wait: true
    transmitFailed: false
    inputs:
      site_url: "{{ outputs.resolve_runtime_config.values.resolved_site_url }}"

  - id: collect_final_data
    type: io.kestra.plugin.core.output.OutputValues
    values:
      site_url: "{{ outputs.resolve_runtime_config.values.resolved_site_url }}"
      github_repo: "{{ outputs.resolve_runtime_config.values.resolved_github_repo }}"
      upload_execution_id: "{{ outputs.refresh_source_files.executionId }}"
      upload_state: "{{ outputs.refresh_source_files.state }}"
      layer1_summary: "{{ outputs.run_layer1.outputs.layer1_summary }}"
      layer2_summary: "{{ outputs.run_layer2.outputs.layer2_summary }}"

  - id: build_final_summary
    type: io.kestra.plugin.scripts.python.Script
    outputFiles:
      - final-summary.json
      - gemini-final-prompt.json
    script: |
      import json

      site_url = "{{ outputs.collect_final_data.values.site_url }}"
      github_repo = "{{ outputs.collect_final_data.values.github_repo }}"
      upload_execution_id = "{{ outputs.collect_final_data.values.upload_execution_id }}"
      upload_state = "{{ outputs.collect_final_data.values.upload_state }}"
      layer1_summary = json.loads(r'''{{ outputs.collect_final_data.values.layer1_summary }}''')
      layer2_summary = json.loads(r'''{{ outputs.collect_final_data.values.layer2_summary }}''')

      final_summary = {
          "pipeline": "dev_security",
          "mode": "prod",
          "site_url": site_url,
          "github_repo": github_repo,
          "upload_flow": {
              "execution_id": upload_execution_id,
              "state": upload_state
          },
          "layer1": layer1_summary,
          "layer2": layer2_summary
      }

      with open("final-summary.json", "w", encoding="utf-8") as f:
          json.dump(final_summary, f, indent=2)

      prompt_text = (
          "You are a security workflow analyst. Convert the following combined production security pipeline result "
          "into one Slack-ready alert. Mention overall severity, layer 1 result, layer 2 result, exact issue summary, "
          "recommended actions, and whether rollback is advised. "
          "Return a raw JSON object only with keys: title, severity, summary, recommended_actions, rollback_advised, slack_text.\n\n"
          "Pipeline summary:\n" + json.dumps(final_summary, indent=2)
      )

      gemini_prompt = {
          "contents": [
              {
                  "role": "user",
                  "parts": [
                      {"text": prompt_text}
                  ]
              }
          ]
      }

      with open("gemini-final-prompt.json", "w", encoding="utf-8") as f:
          json.dump(gemini_prompt, f, indent=2)

  - id: gemini_final_summary
    type: io.kestra.plugin.core.http.Request
    uri: "https://generativelanguage.googleapis.com/v1/models/gemini-2.5-flash-lite:generateContent"
    method: POST
    contentType: application/json
    headers:
      x-goog-api-key: "{{ secret('GEMINI_API_KEY') }}"
    body: "{{ read(outputs.build_final_summary.outputFiles['gemini-final-prompt.json']) }}"

  - id: final_slack_alert
    type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
    url: "{{ secret('SLACK_WEBHOOK_URL') }}"
    messageText: "{{ outputs.gemini_final_summary.body | jq('.candidates[0].content.parts[0].text | ltrimstr(\"```json\\n\") | rtrimstr(\"\\n```\") | fromjson | .slack_text') | first }}"

  - id: list_recent_deployments
    type: io.kestra.plugin.core.http.Request
    uri: "https://api.vercel.com/v6/deployments?projectId={{ inputs.vercel_project_id }}&limit=10{{ inputs.vercel_team_id ? ('&teamId=' ~ inputs.vercel_team_id) : '' }}"
    method: GET
    headers:
      Authorization: "Bearer {{ secret('VERCEL_TOKEN') }}"

  - id: decide_rollback
    type: io.kestra.plugin.core.output.OutputValues
    values:
      rollback_advised: "{{ outputs.gemini_final_summary.body | jq('.candidates[0].content.parts[0].text | ltrimstr(\"```json\\n\") | rtrimstr(\"\\n```\") | fromjson | .rollback_advised') | first }}"
      previous_ready_deployment_id: '{{ outputs.list_recent_deployments.body | jq(''.deployments | map(select(.readyState == "READY" or .state == "READY")) | .[1].uid'') | first }}'

  - id: rollback_alias
    type: io.kestra.plugin.core.http.Request
    method: POST
    uri: "https://api.vercel.com/v2/deployments/{{ outputs.decide_rollback.values.previous_ready_deployment_id }}/aliases{{ inputs.vercel_team_id ? ('?teamId=' ~ inputs.vercel_team_id) : '' }}"
    headers:
      Authorization: "Bearer {{ secret('VERCEL_TOKEN') }}"
    contentType: application/json
    body: |
      {
        "alias": "{{ inputs.production_alias }}"
      }
    runIf: "{{ outputs.decide_rollback.values.rollback_advised == 'true' }}"

  - id: notify_rollback
    type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
    url: "{{ secret('SLACK_WEBHOOK_URL') }}"
    messageText: "🚨 Security issue detected. Production alias {{ inputs.production_alias }} was reassigned to the previous safe Vercel deployment {{ outputs.decide_rollback.values.previous_ready_deployment_id }}."
    runIf: "{{ outputs.decide_rollback.values.rollback_advised == 'true' }}"
